# An Investigation in classifying the gender of players using their hours played and age

# INTRODUCTION

A research group in Computer Science at UBC, led by Frank Wood, collected data about how people play video games. They have set up a MineCraft server, and players' actions are recorded as they navigate through the world.

The research group gathered two datasets. The question we would want to answer with our project would be "Can we predict the gender if given the age and hours played on the MineCraft server?" So, we are only focusing on the first dataset, "players.csv", to answer our question.

The first dataset, players.csv, is a list of all unique players, including data about each player. In this dataset, there are 196 observations in total, and there are 7 variables for each observation. The variable “experience” is a categorical value which describes the player’s proficiency level in this video game, specifically, five levels: "Amateur", "Beginner", "Regular", "Veteran" and "Pro". The variable “subscribe” is a “lgl” value that identifies whether the player subscribed to MineCraft’s newsletter. The variable “hashedEmail” is a “chr” value which provides an encrypted email address from the player. The variable “played_hours” is a “dbl” value that gives the total time a player spent on the MineCraft server. The “name” variable is a “chr” value that has each player’s first name. The “gender” value is a categorical value which provides each player’s gender, specifically, 7 categories: “Agender”, “Female”, “Male”, “Non-binary”, “Two-Spirited”, “Other” and “Prefer not to say”. The variable “Age” is a quantitative variable that provides each individual player’s age. The potential issue that we want to clean and wrangle in this dataset before further steps would be the “NA” values in the “Age” column.

# DATA ANALYSIS

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('cleanup.R')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'cleanup.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [16]:
# loading the dataset players_csv
players <- read_csv("https://raw.githubusercontent.com/Ivy-Z-Z/DSCI100-010-group_project/refs/heads/main/players.csv")
players

# cleaning and wrangling
players_clean <- players |>
    select(played_hours, gender, Age) |>
    filter(Age != "NA")
players_clean

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 17
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

    played_hours gender            Age
1   30.3         Male               9
2    3.8         Male              17
3    0.0         Male              17
⋮   ⋮            ⋮                 ⋮
192 0.3          Male              22
193 0.0          Prefer not to say 17
194 2.3          Male              17

# METHODS

The three columns of data we are using from the dataset are “played_hours”, “gender” and “Age”. “Gender” would be the factor we want to predict in the analysis, while “played_hours” and “Age” would be our two predictors. We are using the K-nearest neighbor classification method to predict the gender of players since the gender is categorical data. After cleaning and wrangling the dataset, we split the dataset randomly into two parts: training and testing, where the training set contains 80% of the data and the testing set has 20%. After that, we will find the best fit K value using cross-validation, and then we can apply the classification model with the best fit K value we built to predict the factor.

# DISCUSSION